# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# MongoDB
*.log
*.pid
mongod.lock

# IDE and OS
.vscode/
.idea/
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Build artifacts
build/
dist/
coverage/

# Environment variables
.env

# Dependency directories
bower_components/

# OS X
.DS_Store

# Windows
Thumbs.db

uploads/